<p>
  <b>User:</b>
  <%=h @album_art.user.login %>
</p>

<p>
  <b>Album name:</b>
  <%=h @album_art.album_name %>
</p>

<p>
  <b>Artist name:</b>
  <%=h @album_art.artist_name %>
</p>

<p>
  <b>Image:</b>
  <%= image_tag url_for_file_column(@album_art, "image", "standard") %>
</p>

<p>
  <b>Image size:</b>
  <%=h @album_art.image_size %>
</p>

<p>
  <b>Image filesize:</b>
  <%= number_to_human_size(@album_art.image_filesize) %>
</p>

<p>
  <b>Score:</b>
  <%=h @album_art.score %>
</p>

<p>
  <b>Created at:</b>
  <%= format_datetime(@album_art.created_at) %>
</p>


<%= link_to 'Edit', edit_album_art_path(@album_art) %> |
<%= link_to 'Back', album_arts_path %>
