<h2><%=h @album_art.album_name %> - <%=h @album_art.artist_name %></h2>

<div id="album_art">
	<%= image_tag @album_art.album_art_image.public_filename %>
	<%= render :partial => 'album_art_info', :locals => { :album_art => @album_art } %>
	<p><%= link_to 'Editar', edit_album_art_path(@album_art) if @album_art.user == current_user %></p>
</div>
