<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN"
   "http://www.w3.org/TR/html4/strict.dtd">

<html lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Capas de CD</title>
	<meta name="generator" content="TextMate http://macromates.com/">
	<meta name="author" content="Shadow">
	<%= stylesheet_link_tag "cdcovers" %>
	<!-- Date: 2008-01-03 -->
</head>
<body>
	<div id="header">
		<h1>Capas de CD (alfa)</h1>
	    <div id="userline">
			<% if logged_in? %>
			<p><strong><%=h current_user.login %></strong> | <%= link_to 'sair', logout_path %></p>
			<% else %>
			<p>
				<%= link_to 'login', login_path %> ou
				<%= link_to 'cadastre-se', signup_path %>
			</p>
			<% end %>
		</div>
	</div>

	<div id="content">
	<%= yield %>
	</div>
</body>
</html>
